[Unit]
Description=QMI Auto Connection
After=network.target

[Service]
ExecStart=/bin/bash /usr/src/qmi_reconnect.sh
StandardOutput=inherit
StandardError=inherit
Restart=always
User=pi

[Install]
WantedBy=multi-user.target
